<section style="padding: 10px;">
<h1>Edit Category</h1>

<%= render "form", category: @category %>
<br>
<%= link_to "Back to Home", category_path(@category), type: "button", class: "btn btn-primary" %>
</section>
